.Koljada{    
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    box-shadow: 0 5px 10px rgb(110, 110, 110);
    border-right: 30px solid #2980b9;
    border-radius: 3px;
    padding: 15px;
    margin: 40px 10px;
    animation-name: slide;
    animation-duration: .6s;
    animation-delay: 0s;
    opacity: 0;
    animation-fill-mode: forwards;  

  
}

.Koljada:nth-child(odd){
    border-right: 30px solid #f1c40f;

}

.Koljada h3{
    margin: 0;
    margin-bottom: 10px;
}

.Koljada li{
    list-style: none;
    display: flex;
    align-items: flex-start;
}

.Koljada li p{
    line-height: 40px;
    word-spacing: 3px;
    letter-spacing: 1px;
    /* font-weight: 400; */
}
.KoljadaDark{
    background-color: rgb(27, 27, 27);
    color: white;
    border-right: 30px solid #216592;

}

@keyframes slide{
    from{
        transform: translateX(+100%);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}