.Button{
    outline: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:140px;
    padding: 10px;
    box-sizing: border-box;
    border: none;
    border-radius: 3px;
    margin: 10px 0;
    transition:all .3s ;
    font-family: inherit;
}

.Button:disabled{
    cursor: not-allowed;
}


.Button img{
    height: 20px;
}
.Button.Active{
    background-color:var(--color-blue);
    color: white;
}

.Button.Active:hover,
.Button:hover{
    background-color:var(--color-blue-d);
    color: white;
}