.SocialButton{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:140px;
    padding: 10px;
    box-sizing: border-box;
    border: none;
    border-radius: 3px;
    margin: 10px 0;
    transition:all .3s ;
    font-family: inherit;
}



.SocialButton img{
    height: 20px;
}
.SocialButton.Active{
    background-color:var(--color-blue);
    color: white;
}

.SocialButton.Active:hover,
.SocialButton:hover{
    background-color:var(--color-blue-d);
    color: white;
}