@import url('https://fonts.googleapis.com/css?family=Great+Vibes&display=swap');

.HomePage{
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 100%;    
}

.HomePageHeader{
    font-family: 'Great Vibes', cursive;
    text-align: center;
    font-size: 35px;
}

