
.Auth {
    
    background-color: rgb(240, 240, 240);
    border-radius: 3px;
    padding:10px ;
    box-shadow: 0 5px 10px rgba(110, 110, 110, 0.425);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    margin: 7vh 0 0 0 ;
    text-align: center;
    font-style: italic;
    position: relative;
}
.Auth .Spinner{
    width: 100%;
}
.Auth form{ 
    /* position: relative; */
    width: 100%;
    font-family: 'Raleway',-apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

.Auth a{
    margin: 20px 0;
    color: var(--color-blue);
    font-size: 15px;
    text-decoration: none;
}

.Auth a:hover,
.Auth a:active{
    color: var(--color-blue-d);
}

.AuthButtons{
    margin-top: 30px;
    display: flex;
    /* flex-basis: `; */
    /* align-items: center; */
    flex-wrap: wrap;
    justify-content: space-evenly;
     width: 100%
}

